@import "~antd/dist/antd.css";

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.logo {
  height: 32px;
  content: url("./+shared/images/pokemon.png");
  margin: 16px 24px 16px 0;
  float: left;
}

.loader {
  width: 80%;
  margin-top: 40px;
}

.card-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card img {
  height: 100%;
  transition: 0.5s all ease-out;
}

.card h2 {
  position: relative;
  bottom: 120px;
  transform: rotate(-25deg);
  color: green;
  background: white;
  border-radius: 12px;
}

.fav-btn {
  width: 87%;
  height: 30px;
  background: #f6cd20;
  border: none;
  color: #777777;
}

.selected-wrapper {
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.img-wrapper {
  height: 400px;
  margin: 10px;
}

.info-wrapper {
  margin: 10px;
  color: #fff;
  padding: 20px 75px;
}

.img-wrapper img {
  height: 100%;
}

.fav-cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
}

.fav-card {
  height: 500px;
  margin: 20px;
}

.fav-card img {
  height: 100%;
}

.add-pokemon {
  color:black;
}

@media (max-width: 520px) {
  .App-header input {
    width: 80%;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    height: 350px;
  }

  .card button {
    width: 54%;
  }
}

@media (max-width: 700px) {
  form,
  form input {
    width: 100% !important;
  }
}

@media (max-width: 1061px) {
  .filter-wrapper {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    justify-content: space-evenly;
  }

  .subtype-filter img {
    height: 20px !important;
  }

  .App-header {
    flex-direction: column;
    height: 100%;
  }
}

input {
  width: 100%;
  display: inline-block;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

form {
  padding-left: 20%;
  padding-right: 20%;
}

main {
  margin-top: 63px;
  padding-top: 63px;
}

.row {
  display: flex;
}

.column-right-side {
  flex: 50%;
}

.column-left-side {
  flex: 0%;
}

span {
  font-weight: bold;
}
